@model List<MagicLibrary.Domain.Models.Recommendation>

<div class="contenedor-principal-recomendaciones">
    <div class="header-recomendaciones">
        <h1>Recomendaciones</h1>
      
    </div>
    <div class="contenedor-filtros-recomendaciones">
        <a asp-action="Index" class="filtro-btn">Todos</a>
        @foreach (var tip in ViewBag.Generos as List<string>)
        {
            <a asp-action="Index" asp-route-Genero="@tip" class="filtro-btn">@tip</a>
        }
    </div>

    <hr />

    

    <div class="grid">
        @foreach (var recomendacion in Model)
        {
            <a asp-action="Detalle" asp-route-id="@recomendacion.Id" class="tarjeta-recomendaciones">
                <div class="tarjeta-contenido-recomendaciones">
                    <h3>@recomendacion.TituloLibro</h3>
                    <div class="tarjeta-info-recomendaciones">
                        <span class="etiqueta-genero">@recomendacion.Genero</span>
                        <span class="etiqueta-autor">@recomendacion.Autor</span>
                    </div>
                </div>
            </a>
        }
    </div>

    <button class="btn-ia-flotante" onclick="toggleChatIA()">
        <i class="fa-solid  fa-book-open"></i>Consultar a Gemini
    </button>
    <div class="cajon-chat-ia" id="cajonIA">
        <div class="chat-header">
            <h4>Oráculo de lectura</h4>
            <button class="btn-cerrar-chat" onclick="toggleChatIA()">X</button>
        </div>
        <div class="char-mensajes">
            <div class="mensaje-burbuja ia">
                Hola, soy tu asistente de recomendaciones. Veo que tienes libros de Fantasía en tu catálogo. ¿Te gustaría que busque algo similar o quieres explorar un género nuevo?.
            </div>
        </div>
        <div class="chat-input-area">
            <input type="text" class="input-chat" placeholder="Escribe tu peticón a la IA...">
            <button class="btn-enviar-chat">Enviar</button>
        </div>
    </div>

</div>


<script>
    function toggleChatIA(){
        document.getElementById('cajonIA').classList.toggle('abierto');
    }
</script>
